.inputdiv{
    border: 1px black solid;
    padding: 10px;
    width: 800px;
    margin: 0 auto;
    text-align: left;
}

.content{
    padding: 10px;
    width: 800px;
    margin: 0 auto;
    text-align: left;
}

.padding{
    margin: 0 10px 0 10px;
}

.table{
    width: 800px;
    margin: 0 auto;
    text-align: center
    ;
    
}
table , th , td{
    border: 4px black solid;

}
table { border-collapse: collapse; }
